<div class="rounded-3 text-right"><p>...</p></div>
<div class="rounded-3 text-right"><p>7:00 A.M.</p></div>
<div class="rounded-3 text-right"><p>8:00 A.M.</p></div>
<div class="rounded-3 text-right"><p>9:00 A.M.</p></div>
<div class="rounded-3 text-right"><p>10:00 A.M.</p></div>
<div class="rounded-3 text-right"><p>11:00 A.M.</p></div>
<div class="rounded-3 text-right"><p>12:00 P.M.</p></div>
<div class="rounded-3 text-right"><p>1:00 P.M.</p></div>
<div class="rounded-3 text-right"><p>2:00 P.M.</p></div>
<div class="rounded-3 text-right"><p>3:00 P.M.</p></div>
<div class="rounded-3 text-right"><p>4:00 P.M.</p></div>
<div class="rounded-3 text-right"><p>5:00 P.M.</p></div>
<div class="rounded-3 text-right"><p>6:00 P.M.</p></div>
<div class="rounded-3 text-right"><p>7:00 P.M.</p></div>
